server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - "application_qa.yml"
      - "application_prod.yml"
  profiles:
    active:
      - "qa"

build:
  version: "1.0"

accounts:
  message: "Welcome to EazyBank accounts related local APIs "
  contact-details:
    name: "John doe - Developer"
    email: "johndoe@example.com"
  on-call-support:
    - "(555) 132 312"
    - "(555) 132 343"
