project:
  version: "1.0"
management:
  health:
    rabbit:
      enabled: false

spring:
  rabbitmq:
    listener:
      simple:
        auto-startup: false
  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: "classpath:/config"

server:
  port: 8071
