replicaCount: 1

image:
  repository: prom/prometheus
  tag: "v3.1.0"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 9090

prometheus:
  scrapeInterval: 5s
  evaluationInterval: 5s

resources:
  requests:
    cpu: 100m
    memory: 256Mi
    ephemeral-storage: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
    ephemeral-storage: 1Gi